.main-row{
	background-color:transparent;
/*	margin-right: -15px;
	margin-left: -15px;*/

}

.button.active {
    color: #E57245;
    text-decoration: underline;
    font-size: 25px;
 /*   font-weight: normal;*/
    margin-right: 112px;
    /*margin-left: 0px;*/
    /*letter-spacing: 1px;*/
}
.button {
    color: #777;
    font-size: 20px;
  /*  font-weight: normal;*/
    margin-right: 148px;
    /*letter-spacing: 1px;*/
}

.button:hover {
    color: #E57245;
    text-decoration: underline;
    
}

.toggle_buttons {
	margin-right: 15px;
	
}



body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.scene-entry_all{
	display: block;
	background-color: #EEE;
	margin-top: 10px;
	border-radius: 3px;
	height: 360px;
	float: left;
	width: 282px;
}

.scene {
	/*background-repeat: repeat-x;*/
    border-color: #E57245;
    border-style: dashed;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
	border-radius: 2px;
	margin-top: 10px;
	display: block;
	height: 395px;
	width: 282px;
}
.scene-entry_own{
	display: block;
	background-color: #EEE;
	margin-top: 10px;
	border-radius: 3px;
	height: 395px;
	float: left;
	width: 282px;
	
	
}
.scene-entry_other{
	display: block;
	background-color: #EEE;
	margin-top: 10px;
	border-radius: 3px;
	height: 395px;
	float: left;
	width: 282px;
	
	
}

h3{
	color:#E57245;
}

.panel.panel-default {
	margin-top: 10px;
}

a.btn{
	/*margin-top:9px;*/
	color: #fff;
	/*background-color: #E57245;*/
}
.btn:active {
	background-color: #e28561;
    border-color: #e28561;
    color: #af4d0f;
    text-decoration: none;
}

a.btn1{
	margin-top: 5px;
	text-align: center;
	color: #E57245;
	height: 365px;
	vertical-align: middle;
	line-height: 340px; 
	font-size: 16px;

}

.btn1:hover{
	background-color:#E57245; 
	color: white;
	text-decoration:none;
}

.g-recaptcha{
	margin-top: 10px;
	margin-left: -4px;
}
.g-recaptcha > div {
	background-color: #EEE !important;
}


#removeButton{
	margin: 10px 0 10 -45%;
	width: 90%;
	position: relative;
	left: 50%;
}

/*.lazy{
	display:block;
}*/

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #e28561;
	border-color: #e28561;	
	outline: none !important;
}
.btn-primary_copy:hover, .btn-primary_copy:focus, .btn-primary_copy.focus {
    background-color: #e28561;
	border-color: #e28561;	
	color: white;
	outline: none !important;
}
.btn-primary_copy:active {
	color: #af4d0f;
}
.btn-primary_play:active {
	color: #af4d0f;
}
.btn-primary_play:hover, .btn-primary_play.focus, .btn-primary_play:active {
    background-color: #e28561;
	border-color: #e28561;	
	color: white;
}

.btn-primary_play {
    /*background-image: linear-gradient(to bottom, #E57245 0px, #E57245 100%);*/
    background-repeat: repeat-x;
    border-color: #E57245;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
	border-radius: 2px;
	margin-top: 10px;
	width: 100%;
}

.btn-primary_copy {
    /*background-image: linear-gradient(to bottom, #E57245 0px, #E57245 100%);*/
    background-repeat: repeat-x;
    border-color: #777;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
	border-radius: 2px;
	margin-top: 5px;
	width: 100%;
	background-color: #777;
	color: white;
}



.btn-primary {
    /*background-image: linear-gradient(to bottom, #E57245 0px, #E57245 100%);*/
    background-repeat: repeat-x;
    border-color: #777;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
	border-radius: 2px;
	margin-top: 4px;
	width: 49.2%;
	
}
.btn-primary_block {
    background-repeat: repeat-x;
    border-style: dashed;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
	border-radius: 2px;
	margin-top: 10px;
	display: block;
}

/*.btn-primary_edit {
    background-repeat: repeat-x;
    border-color: #E57245;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
	border-radius: 2px;
	display: block;
}
.btn-primary_edit:hover {
     background-color: #e28561;
	border-color: #e28561;
	color: #fff;	
}
.btn-primary_edit:focus {
	background-color: #e28561;
    border-color: #e28561;
    color: white;
    text-decoration: none;
}
.btn-primary_edit:active {
	background-color: #e28561;
    border-color: #e28561;
    color: #af4d0f;
    text-decoration: none;
}*/

.btn-default {
    background-color: #E57245;
	color: white;
    background-repeat: repeat-x;
    border-color: #E57245;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
	border-radius: 2px;
	margin-top: 10px;
	
}

.btn-default:hover {
     background-color: #e28561;
	border-color: #e28561;
	color: #fff;
	outline: 0 !important;	
}
.btn-default:focus {
	background-color: #e28561;
    border-color: #e28561;
    color: white;
    text-decoration: none;
    outline: 0 !important;	
}

.btn-default:active {
    color: #af4d0f;
    outline: 0 !important;	
   
}

.btn-default_edit {
    background-color: #E57245;
	color: white;
    background-repeat: repeat-x;
    border-color: #E57245;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
	border-radius: 2px;
	margin-top: 10px;
	display: block;
	
}

.btn-default_edit:hover {
     background-color: #e28561;
	border-color: #e28561;
	color: #fff;
	outline: 0 !important;	
}
.btn-default_edit:focus {
	background-color: #e28561;
    border-color: #e28561;
    color: white;
    text-decoration: none;
    outline: 0 !important;	
}

.btn-default_edit:active {
    color: #af4d0f;
    outline: 0 !important;	
   
}

/* CONTACT TOGGLE */

.info_toggle {
	float: right;
	color: #fff;
}

.info_toggle_div {
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
}
