.main-row{
	background-color:transparent;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.scene-entry{
	display: block;
	background-color: #EEE;
	margin-top: 10px;
	border-radius: 3px;
	height: 480px;
	float: left;
	
	
}

h3{
	color:#E57245;
}

.panel.panel-default {
	margin-top: 10px;
}

a.btn{
	margin-top:10px;
	color: #fff;
	background-color: #E57245;
}

a.btn1{
	text-align: center;
	margin-top:10px;
	color: #fff;
	background-color: #E57245;
}

.btn1:hover {
	background-color: #e28561;
    border-color: #e28561;
	color: white;
}
.btn1:visited {
	background-color: #fec04e;
    border-color: #fec04e;
    color: white;
}
.btn1:focus {
	background-color: #e28561;
    border-color: #e28561;
    color: white;
}
.btn1:active {
	background-color: #e28561;
    border-color: #e28561;
    color: #af4d0f;
}

.tlacitko{
	text-align: center;
	margin-top:10px;
	color: #fff;
	background-color: #E57245;
	border-color: #e28561;
}

a.tlacitko{
	text-align: center;
	margin-top:10px;
	color: #fff;
	background-color: #E57245;
}

.tlacitko:hover {
	background-color: #e28561;
    border-color: #e28561;
	color: white;
}
.tlacitko:visited {
	background-color: #fec04e;
    border-color: #fec04e;
    color: white;
}
.tlacitko:focus {
	background-color: #e28561;
    border-color: #e28561;
    color: white;
}
.tlacitko:active {
	background-color: #e28561;
    border-color: #e28561;
    color: #af4d0f;
}

.g-recaptcha{
	margin-top: 10px;
	margin-left: -4px;
}
.g-recaptcha > div {
	background-color: #EEE !important;
}


#removeButton{
	margin: 10px 0 10 -45%;
	width: 90%;
	position: relative;
	left: 50%;
}

.lazy{
	display:none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #E57245;
	border-color: #E57245;	
}


.btn-primary {
    background-image: linear-gradient(to bottom, #E57245 0px, #E57245 100%);
    background-repeat: repeat-x;
    border-color: #E57245;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
	border-radius: 2px;
}

.btn-primary1 {
    /*background-image: linear-gradient(to bottom, #E57245 0px, #E57245 100%);*/
    background-repeat: repeat-x;
    border-color: #E57245;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
	border-radius: 2px;
	display: block;
}
